<h2>Angular 7 workshop 02.04.2019</h2>
<h3> NOIS </h3>

<p>
  Forran dere nå har dere en heeeeelt enkel, og supernais webapplikasjon som henter ned informasjon i form av liste
  (characters), og
  i form av et enkelt object (spesifikk character). Dette kan man se på som en grunnpilar for en applikasjon. Det jeg
  håper dere vil gå hjem med etter i dag er en grunnforståelse for hvordan man kan hente ned denne informasjonen og
  vise den frem. Det er derfor påbegynt en ny komponent som heter "Episodes". Ta en titt på hvordan Characters og
  Character henger sammen og prøv å få til det samme for Episode.
</p>

<p>
  Style den opp litt med bruk av ngStyle, ngIfs, og andre strukturelle direktiver. Go nuts!
</p>

Hint til typiske ting man bruker å glemme av som gjør at ingen ting fungerer
<ul>
  <li>app-routing.module.ts</li>
  <li>app.module.ts</li>
  <li><strong>Benytt dere av kommandolinjen. Den gir som oftest klare beskjeder</strong></li>
</ul>

<p>Snakk med hverandre og hjelp hverandre. Her er vi alle for å lære og kose oss.</p>